.header {
    background: #45520b;
}
.logo{
    width: 100px;
}
.searchbar{
    width: 50%;
    margin-top: 20px;
    align: center;
}
.navi{
    margin: auto;
}
.navitems{
    color: white;
    font-size: x-large;
}
.active{
    color: #000;

}